.search-box{
    padding-top: 50px;
    background-color: #c7be118f;
    border: solid;
    height: auto;

}

.search-box__input{
    height: 50px;
    font-size: large;
    background-color: chartreuse;
}


.check-box{
    height: 50px;
    font-size: large;
    text-align-last: center;
 
}
