.App {
  text-align: left;
  background-color: #c7be118f;
}
.heading{
  text-align: center;
}
img {
  height: 200px;
}

.main-grid-container{
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  border-color: solid blue;
  margin-left: 5px;
  
}